body {
  margin: 0;
  background-color: #FBFBE1;
}

h1, h2, h3, .btn {
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
}

p {
  color: #2E2E26;
  font-family: montserrat, sans-serif;
}

header .logo {
  display: block;
  margin: 50px auto 0;
  position: relative;
  z-index: 1;
}
header .blue-bg {
  height: auto;
  width: 100%;
  background-color: #B6F0FF;
  clip-path: ellipse(170% 100% at bottom);
  /* simply adjust the 90% */
  padding: 80px 0;
  margin-top: -100px;
}
header .blue-bg .columns {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
header .blue-bg .columns .col {
  width: 50%;
  padding: 0 5%;
}
header .blue-bg .columns .col.img-col img {
  width: 100%;
}
header .blue-bg .columns .col h1 {
  font-size: 59px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 3px;
}
header .blue-bg .columns .col h2 {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}
header .blue-bg .columns .col .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .blue-bg .columns .col .icons .mini-col {
  width: 30%;
  text-align: center;
  padding: 10px;
}
header .blue-bg .columns .col .icons .mini-col img {
  max-height: 100px;
  min-height: 100px;
  width: 100%;
}
header .blue-bg .columns .col .icons .mini-col h3 {
  width: 76%;
  margin: 5px auto;
  font-size: 21px;
  line-height: 28px;
}

a.btn {
  text-align: center;
  text-decoration: none;
  border: 6px solid #2E2E26;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 800;
  display: block;
  width: 225px;
  cursor: pointer;
  color: #231F20;
}
a.btn.cream-btn {
  background-color: #FBFBE1;
}
a.btn.cream-btn:hover {
  background-color: #2E2E26;
  color: #FBFBE1;
}
a.btn.blue-btn {
  background-color: #B6F0FF;
  margin: 30px auto;
}
a.btn.blue-btn:hover {
  background-color: #2E2E26;
  color: #FBFBE1;
}

section {
  margin: 50px 0;
}
section.menu h2 {
  font-size: 74px;
  text-align: center;
  font-weight: 800;
}
section.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}
section.menu ul li {
  width: 225px;
  height: 60px;
  border-left: solid 2px black;
}
section.menu ul li:first-child {
  border-left: none;
}
section.menu ul li hr {
  display: none;
}
section.menu ul li p {
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 6px;
}
section .columns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
section .columns .col {
  width: 50%;
  padding: 60px 60px;
}
section .columns .col p {
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 30px;
}
section .columns .col.img-col img {
  width: 90%;
}

footer .black-bg {
  background-color: #2E2E26;
  height: 160px;
  margin-top: -96px;
}
footer img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 47.9375em) {
  header .blue-bg .columns {
    display: block;
  }
  header .blue-bg .columns .col {
    width: 100%;
    padding: 0;
  }
  header .blue-bg .columns .col.img-col img {
    width: 85%;
    display: block;
    margin: 0 auto;
  }
  header .blue-bg .columns .col h1 {
    font-size: 42px;
  }
  header .blue-bg .columns .col h2 {
    font-size: 25px;
  }
  header .blue-bg .columns .col .mini-col h3 {
    line-height: 20px !important;
    font-size: 15px !important;
  }

  a.btn {
    font-size: 15px;
    width: 170px;
  }

  section.menu h2 {
    font-size: 45px;
  }
  section.menu ul {
    display: block;
    padding: 0;
  }
  section.menu ul li {
    margin: 7px auto;
    height: 100%;
    border-left: none;
  }
  section.menu ul li p {
    font-size: 19px;
    line-height: 25px;
  }
  section.menu ul li hr {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #B9B98C;
    border: none;
  }
  section .columns {
    flex-flow: column-reverse;
  }
  section .columns .col {
    width: 100%;
    padding: 0;
  }
  section .columns .col .btn {
    margin: 0 auto;
  }
  section .columns .col p {
    padding: 20px;
    font-size: 19px;
    text-align: center;
    line-height: 30px;
  }
  section .columns .col.img-col img {
    width: 75%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 48em) and (max-width: 84.375em) {
  header .blue-bg .columns .col h1 {
    font-size: 40px;
  }
  header .blue-bg .columns .col h2 {
    font-size: 20px;
  }
  header .blue-bg .columns .col .mini-col h3 {
    font-size: 14px !important;
  }

  a.btn {
    font-size: 16px;
    width: 180px;
  }

  section.menu h2 {
    font-size: 55px;
  }
  section.menu ul li p {
    font-size: 14px;
    padding: 0 10px;
  }
  section .columns .col {
    padding: 30px 30px;
  }
  section .columns .col p {
    font-size: 18px;
  }
}
