header {
    .blue-bg {
        .columns {    
            .col {    
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 20px;
                }
                .mini-col {
                    h3 {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}

a.btn {
    font-size: 16px;
    width: 180px;
}

section {
    &.menu {
        h2 {
            font-size: 55px; 
        }
        ul {    
            li {
                p {        
                    font-size: 14px;  
                    padding: 0 10px;              
                }
            }
        }
    }  
    .columns {
        .col{
            padding: 30px 30px;
            p {
                font-size: 18px;
            }
        }
    }  
}