$blue: #B6F0FF;
$cream: #FBFBE1;
$footer-black: #2E2E26;
$black: #231F20;

$font: montserrat, sans-serif;;


body {
    margin: 0;
    background-color: $cream;
}

h1, h2, h3, .btn {
    text-transform: uppercase;
    font-family: $font;
}

p {
    color: $footer-black;
    font-family: $font;
}

header {
    .logo {
        display: block;
        margin: 50px auto 0;
        position: relative;
        z-index: 1;
    }
    .blue-bg {
        height: auto;
        width: 100%;    
        background-color: $blue;
        clip-path:ellipse(170% 100% at bottom); /* simply adjust the 90% */
        padding: 80px 0;
        margin-top: -100px;
        .columns {
            margin-top: 50px;
            display: flex;
            align-items: center;
            .col {
                width: 50%;
                padding: 0 5%;
                &.img-col {
                    img {
                        width: 100%;
                    }
                }
                h1 {
                    font-size: 59px;
                    font-weight: 800;
                    text-align: center;
                    margin-bottom:0;
                    letter-spacing: 3px;
                }
                h2 {
                    font-size: 27px;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 5px;
                }
                .icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .mini-col {
                        width: 30%;
                        text-align: center;
                        padding: 10px;
                        img {
                            max-height: 100px;
                            min-height: 100px;
                            width: 100%;
                        }
                        h3 {
                            width: 76%;
                            margin: 5px auto;
                            font-size: 21px;
                            line-height: 28px;
                        }
                    }
                }    
            }
        }
    }
}

a.btn {
    text-align: center;
    text-decoration: none;
    border: 6px solid $footer-black;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 800;
    display: block;
    width: 225px;
    cursor: pointer;
    color: $black;
    &.cream-btn {
        background-color: $cream;
        &:hover {
            background-color: $footer-black;
            color: $cream;
        }
    }
    &.blue-btn {
        background-color: $blue;
        margin: 30px auto;
        &:hover {
            background-color: $footer-black;
            color: $cream;
        }
    }
}

section {
    margin: 50px 0;
    &.menu {
        h2 {
            font-size: 74px;
            text-align: center;
            font-weight: 800;
        }
        ul {
            display:flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding: 10px;
            li {
                width: 225px;
                height: 60px;
                border-left: solid 2px black;
                &:first-child {
                    border-left: none;
                }
                hr {
                    display: none;
                }
                p {
                    margin: 0;
                    text-align: center;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 0 6px;
                }
            }
        }
    }  
    .columns {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        .col{
            width: 50%;
                padding: 60px 60px;
            p {
                font-size: 22px;
                line-height: 38px;
                margin-bottom: 30px;
            }
            &.img-col {
                img {
                    width: 90%;
                }
            }
        }
    }  
}

footer {
    .black-bg {
        background-color: $footer-black;
        height: 160px;
        margin-top: -96px;
    }
    img {
        display: block;
        margin: 0 auto;    
    }
}