header {
    .blue-bg {
        .columns {
            display: block;
            .col {
                width: 100%;
                padding: 0;
                &.img-col {
                    img {
                        width: 85%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            
                h1 {
                    font-size: 42px;
                }
                h2 {
                    font-size: 25px;
                }
                .mini-col {
                    h3 {
                        line-height: 20px !important;
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
}

a.btn {
    font-size: 15px;
    width: 170px;
}

section {
    &.menu {
        h2 {
            font-size: 45px;
        }
        ul {
            display: block;
            padding: 0;
            li {
                margin: 7px auto;
                height: 100%;
                border-left: none;
                p {
                    font-size: 19px;
                    line-height: 25px;
                }
                hr {
                    display: block;
                    width: 50px;
                    height: 2px;
                    background-color: #B9B98C;
                    border: none;
                }
            }
        }
    }  
    .columns {
        flex-flow: column-reverse;
        .col{
            width: 100%;
            padding: 0;
            .btn {
                margin: 0 auto;
                
            }
            p {
                padding: 20px;
                font-size: 19px;
                text-align: center;
                line-height: 30px;
            }
            &.img-col {
                img {
                    width: 75%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }  
}